* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4efeb;
  color: #240900;
  overflow-x: hidden;
}

body a {
  all: unset;
  text-decoration: none;
  color: none;
  cursor: pointer;
}

body a:hover {
  text-decoration: underline;
}

body h2 {
  font-family: 'Bebas', 'Bebas Neue', Helvetica, sans-serif;
  font-weight: 100;
  font-size: 5rem;
  align-items: center;
  color: #240900;
  letter-spacing: -3px;
  margin: 0px;
  line-height: 65px;
}

body h3 {
  font-family: "eb-garamond", serif;
  margin: 0;
  letter-spacing: -0.5px;
  font-weight: 200;
  font-size: clamp(1.1rem, 1.3vw, 1.4rem);
}

body h4 {
  margin: 0;
  letter-spacing: -1.2px;
  font-family: "eb-garamond", serif;
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  font-weight: 200;
}

.banner {
  width: 100%;
  height: 123px;
  margin-top: 25px;
  background-color: #240900;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  top: 0;
  cursor: default;
}

.banner a {
  all: unset; /* Reset all default styles */
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  display: block; /* Ensure it doesn't affect layout */
}

.title {
  font-family: 'Bebas', 'Bebas Neue', Helvetica, sans-serif;
  font-weight: 100;
  font-size: 160px;
  align-items: center;
  color: #f4efeb;
  letter-spacing: -3px;
  margin-left: 5px;
  height: auto;
  position: relative;
  transition: color 0.5s ease-in-out;
  top: -6%;
  text-transform: uppercase;
}

.title:hover {
  color: #240900;
  -webkit-text-stroke: 2px #f4efeb;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
  transform: scaleY(0.982);
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12rem;
  padding-left: 10.5rem;
}

.image-section {
  max-width: 450px;
}

.image-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-section {
  margin-left: 2rem;
}

.coming-soon {
  display: flex;
  flex-direction: column;
}

.work {
  margin-top: 1.2rem;
}

.work h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.work p {
  font-size: 1rem;
  margin-left: 20px;
  font-style: italic;
}

/* Footer */
footer {
  width: 95%;
  bottom: 15px;
  position: absolute;
  border-bottom: 1.5px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}

footer h4 {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
}

.redirect {
  display: flex;
  flex-direction: row;
}

.redirect img {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.5rem;
  vertical-align: right;
  margin-right: 10px;
  margin-bottom: 0.2rem;
}

@font-face {
  font-family: 'Bebas';
  src: url('https://narrowmarginquarterly.com/bebasneuepro-bold.woff2') format('woff2'),
       url('https://narrowmarginquarterly.com/bebasneuepro-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.bebas-neue-regular {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 1150px) {
  footer {
    width: 95%;
    bottom: 15px;
    left: 50%; /* Move to the center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
  }
}

@media (max-width: 1000px) {
  .image-section {
    max-width: clamp(220px, 40vw, 450px);
    transition: max-width 0.7s ease-in-out;
  }

  .container {
    padding-left: 5vw;
    padding-top: 10rem;
    transition: all 0.7s ease-in-out;
  }

  body h2 {
    font-size: 5rem;
    letter-spacing: -1px;
    margin: 0px;
  }

  .work h3 {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .work p {
    font-size: 0.8rem;
    margin-left: 20px;
    font-style: italic;
  }
}

@media (max-width: 783px) {
  .text-section {
    margin-left: 1rem;
  }

  .banner {
    height: 15.7vw;
  }

  .title {
    font-size: calc(1.25 * 15.7vw);
  }

  .column p,
  .column ul,
  .column h4 {
    letter-spacing: -0.7px;
  }

  body h2 {
    font-size: 4rem;
    line-height: 50px;
  }
}

@media (max-width: 500px) {
  .footer {
    position: relative;
  }

  .container {
    padding-top: 8rem;
  }

  .text-section {
    margin-left: 5.5rem;
    margin-top: 1rem;
  }

  .image-section {
    max-width: clamp(180px, 300px, 360px);
  }
}
